@import 'mixins';
@import 'variables';
// General
// ====================================
img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding-left: 0;
}

.rating {
	li {
		display: inline-block;

		.glyphicon-star {
			color: #ffa923;
		}
	}
}

fieldset {
	.input-holder {
		float: left;
		margin: 15px 0;
		width: 50%;
		@media (max-width: $screen-xs-max) {
			width: 100%;
		}
		input {
			width: 100%;
		}
	}
}

input,
select {
	&.ng-invalid.form_not_valid {
		border: 1px solid red;
	}
}

message {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	h1 {
		padding: 15px 0;
	}
}
// End General
// ====================================

// Offers page
// ====================================
.caregiver {
	figure {
		max-width: 200px;
		border: 1px solid #000;
		padding: 5px;
	}
}
// End Offers page
// ====================================