<h1>Offers: </h1>
<div data-ng-controller="offersCtrl">
	<div class="row">
		<h2>Filters:</h2>
		<div class="col-xs-12 col-sm-6">
			<span>Caregiver sits:</span>
			<select data-ng-model="caregiverSits">
				<option value="">all</option>
				<option value="dogs">dogs</option>
				<option value="cats">cats</option>
				<option value="birds">birds</option>
				<option value="reptiles">reptiles</option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-6">
			<span>Sort by:</span>
			<select data-ng-model="caregiverSort">
				<option value="null">none</option>
				<option value="price">price</option>
				<option value="rating">rating</option>
			</select>
			<span>Order:</span>
			<select data-ng-model="caregiverSortOrder" data-ng-init="caregiverSortOrder='false'">
				<option value="false">Ascending</option>
				<option value="true">Descending</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="caregiver col-xs-12 col-sm-6" data-ng-repeat="caregiver in caregivers  | filter : caregiverSits
		| orderBy:caregiverSort:caregiverSortOrder==='true'">
			<h2>{{caregiver.name}}</h2>
			<h3>Rating: </h3>
			<ul class="rating">
				<li data-ng-repeat="i in getRating(5) track by $index">
					<span ng-class="$index < caregiver.rating ? 'glyphicon-star': 'glyphicon-star-empty'" class="glyphicon"></span>
				</li>
			</ul>
			<figure>
				<img data-ng-src="{{caregiver.picture || 'images/caregivers/default.png'}}" alt="{{caregiver.name}}">
			</figure>
			<h3>Price: </h3>
			<p>{{caregiver.price | currency}}</p>
			<h3>Pets list:</h3>
			<ul class="pet-list">
				<li data-ng-repeat="pet in caregiver.petsList">
					{{pet}}
				</li>
			</ul>
		</div>
	</div>

</div>


<!-- <div class="pet-holder">
	<figure>
		<figcaption>
			<h2>name</h2>
			<h3>race</h3>
			<div class="description">
				<p>
					<strong>age:</strong>
				</p>
				<p>
					<strong>size:</strong>
				</p>
			</div>
		</figcaption>
		<a href="">
			<img src="" alt="image">
		</a>
	</figure>
</div> -->