<h1>Register as:</h1>
<form name="newUserForm" novalidate>
	<label for="caregiver">Caregiver</label>
	<input value="caregiver" id="caregiver" type="radio" name="registerAs" data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.registerAs">
	<label for="petOwner">Pet Owner</label>
	<input value="petOwner" id="petOwner" type="radio" name="registerAs" data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.registerAs">
	<div data-ng-if="newUser.registerAs === 'caregiver'">
		<h2>Caregiver</h2>
		<fieldset class="row">
			<div class="input-holder">
				<div class="col-xs-6"><label for="CaregiverName">Name: </label></div>
				<div class="col-xs-6"><input data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.Name" id="CaregiverName" type="text"></div>
			</div>
			<div class="input-holder">
				<div class="col-xs-6"><label for="CaregiverSurName">Surname: </label></div>
				<div class="col-xs-6"><input data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.surName" id="CaregiverSurName" type="text"></div>
			</div>
		</fieldset>
		<fieldset class="row" data-ng-controller="countiesCtrl">
			<div class="input-holder">
				<div class="col-xs-6">
					<label for="county">County</label>
				</div>
				<div class="col-xs-6">
					<select data-ng-model="newUser.selectedCounty" data-ng-change="updateCities(newUser.selectedCounty);" name="county" id="county" data-ng-class="{form_not_valid:formNotValid}" required data-ng-options="x for x in counties"></select>
				</div>
			</div>
			<div class="input-holder" data-ng-show="newUser.selectedCounty">
				<div class="col-xs-6">
					<label for="city">City</label>
				</div>
				<div class="col-xs-6">
					<select name="city" id="city" data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.selectedCity" data-ng-options="x for x in cities"></select>
				</div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="input-holder">
				<div class="col-xs-6"><label for="CaregiverPassword">Email: </label></div>
				<div class="col-xs-6"><input data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.email" id="CaregiverEmail" type="email"></div>
			</div>
			<div class="input-holder">
				<div class="col-xs-6"><label for="CaregiverUserName">User name: </label></div>
				<div class="col-xs-6"><input data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.userName" id="CaregiverUserName" type="text"></div>
			</div>
		</fieldset>
		<fieldset class="row">
			<div class="input-holder">
				<div class="col-xs-6"><label for="CaregiverPassword">Password: </label></div>
				<div class="col-xs-6"><input data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.userPassword" id="CaregiverPassword" type="password"></div>
			</div>
			<div class="input-holder">
				<div class="col-xs-6"><label for="CaregiverConfirmPassword">Confirm Password: </label></div>
				<div class="col-xs-6"><input data-ng-class="{form_not_valid:formNotValid}" required data-ng-model="newUser.confirmUserPassword" id="CaregiverConfirmPassword" type="password"></div>
			</div>
		</fieldset>
	</div>
	<div data-ng-if="newUser.registerAs === 'petOwner'">
		<h2>Pet Owner</h2>
	</div>
	<button data-ng-if="newUser.registerAs" data-ng-click="addNewUser(newUser);">Submit</button>
</form>